---
header_title: Nuestro Equipo
header_name: Nosotros
description: Descripción en detalle del equipo de trabajo de Enseña por Panamá (Teach for Panama)
staff_data:
  -
    name: 'Lorena Valencia'
    photo: 'assets/images/staff/lorena_valencia.jpg'
    tagline: 'Directora Ejecutiva y Co-Fundadora'
  -
    name: 'David Alexander Bernal Díaz'
    photo: 'assets/images/staff/david_bernal.jpg'
    tagline: 'Director de Reclutamiento, Selección y Colocación'
  -
    name: 'Marisa Arias'
    photo: 'assets/images/staff/marisa_arias.jpg'
    tagline: 'Directora'
  -
    name: 'Jorge Arosemena'
    photo: 'assets/images/staff/jorge_arosemena.jpg'
    tagline: 'Director'
  -
    name: 'Jorge Vallarino'
    photo: 'assets/images/staff/jorge_vallarino.jpg'
    tagline: 'Director'
  -
    name: 'Ana María Vallarino'
    photo: 'assets/images/staff/ana_maria_vallarino.jpg'
    tagline: 'Directora'
  -
    name: 'Marilú Salvador'
    photo: 'assets/images/staff/marilu_salvador.jpg'
    tagline: 'Asesora'
  -
    name: 'Julio Escobar Villarué'
    photo: 'assets/images/staff/julio_escobar.jpg'
    tagline: 'Asesor'
  -
    name: 'Marta Amorós'
    photo: 'assets/images/staff/marta_amoros.jpg'
    tagline: 'Directora de Formación y Apoyo'
  -
    name: 'Estefanía Sánchez'
    photo: 'assets/images/staff/estefania_sanchez.jpg'
    tagline: 'Tutora Académica'
  -
    name: 'Yuri Pittí'
    photo: 'assets/images/staff/yuri_pitti.jpg'
    tagline: 'Asistente Técnica'
  -
    name: 'Dalys Rodríguez'
    photo: 'assets/images/staff/dalys_rodriguez.jpg'
    tagline: 'Directora de Desarrollo'
...

{% extends "base.html" %}

{% block body %}
  {% include "page_header.html" %}
  {% include "about/content.html" %}
{% endblock %}
