<div class="slide-aside">
	<div class="slide-progress">

		<div class="slide-raised rojoAlt" style="padding-top: 35px;">
			<a class="slider-link" href="{% url '/alumni.html' %}">
				<span>Estudiantes</span>
				<strong>1080</strong>
				<strong>Ver Alumni</strong>
			</a>
		</div><!-- /.slide-raised -->

		<div class="slide-to-go rojo" style="padding-top: 35px;">
			<a class="slider-link" href="{% url '/programa/quien_buscamos.html' %}">
				<span>Profesores de E×P</span>
				<strong>12</strong>
				<strong>Ver Programa</strong>
			</a>
		</div><!-- /.slide-to-go -->

	</div><!-- /.slide-progress -->
</div><!-- /.slide-aside -->
