<div class="slider-intro">
		<div class="slider-clip">
			<ul class="slides owl-carousel">

        {# defined in plugins/statics.py #}
        {% for slider_image in slider_image_list %}
          <li class="slide">
  					<div class="slide-image fullscreener">
  						<img src="{% static slider_image.image %}" height="890" width="1800" alt="">
  					</div><!-- /.slide-image -->

  					<div class="slide-content">
  					</div><!-- /.slide-content -->
  				</li><!-- /.slide -->
        {% endfor %}

			</ul><!-- /.slides -->
		</div><!-- /.slider-clip -->

		<div class="slider-actions"></div><!-- /.slider-actions -->
	</div><!-- /.slider-intro -->
