<div class="slide-aside">

	<div class="slide-progress">
		<div class="slide-raised rojoAlt"><a class="slider-link" href="{% url '/desafio.html' %}">
						<span>Estudiantes</span>
						<strong>Ver Desafío</strong>
				</a>
		</div><!-- /.slide-raised -->

		<div class="slide-to-go rojo">
			<a class="slider-link" href="{% url '/programa/quien_buscamos.html' %}">
						<span>Profesores de E×P</span>
						<strong>Ver Programa</strong>
			</a>
		</div><!-- /.slide-to-go -->

	</div><!-- /.slide-progress -->
</div><!-- /.slide-aside -->
