<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
      <header class="section-head">
          <h2 class="section-title" id="corporativos">Aliados Corporativos</h2><!-- /.section-title -->
          <div class="section-image">
              <i class="fa fa-bookmark fa-lg"></i>
          </div><!-- /.section-image -->
      </header>

      <div class="row">
        <div class="column large-6">
           <p>Enseña por Panamá está agradecido con las compañías que creyeron en nosotros antes de nuestro lanzamiento oficial; han demostrado su compromiso para disminuir la desigualdad y brindar una educación de calidad a los niños y jóvenes panameños.<p>
        </div>
      </div>

      <div class="row mb-45">
       <div class="column large-12">
           <h3>Platino</h3>
       </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/globalbank.svg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/deloitte.svg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/verdeazul.jpg' %}"/>
        </div>
      </div>


      <div class="row mb-45">
        <div class="column large-12">
            <h3>Oro</h3>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/bancogeneral.jpg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/sm_holdings.jpg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/feduro.jpg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/la_dona.jpg' %}" />
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/arrocha.svg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
        </div>
      </div>


      <div class="row mb-45">
        <div class="column large-12">
            <h3>Plata</h3>
        </div>
        <div class="column large-3 mb-45 allies">
          <img src="{% static 'assets/images/allies/felipemotta.jpg' %}"/>
        </div>
        <div class="column large-3 mb-45 allies">
          <img src="{% static 'assets/images/allies/correagua.png' %}"/>
        </div>
        <div class="column large-3 mb-45 allies">
          &nbsp;
        </div>
      </div>


      <div class="row mb-45">
          <div class="column large-12">
              <h3>Amigos</h3>
          </div>
          <div class="column large-3 mb-45 allies">
            <img src="{% static 'assets/images/allies/cochez.svg' %}"/>
          </div>
          <div class="column large-3 mb-45 allies">
            <img src="{% static 'assets/images/allies/copa_airlines.svg' %}"/>
          </div>
          <div class="column large-3 mb-45 allies">
            <img src="{% static 'assets/images/allies/fidanque.jpg' %}"/>
          </div>
          <div class="column large-3 mb-45 allies">
            <img src="{% static 'assets/images/allies/franquicias_panamenas.jpg' %}"/>
          </div>
      </div>
      <hr>
    </div>

    <div class="row">
      <header class="section-head">
        <h2 class="section-title" id="institucionales">Aliados Institucionales</h2><!-- /.section-title -->
        <div class="section-image">
            <i class="fa fa-bookmark fa-lg"></i>
        </div><!-- /.section-image -->
      </header>

      <div class="row">
        <div class="column large-6">
         <p>Enseña por Panamá está agradecido con las agencias de publicidad, medios y empresas que nos apoyan probono con su experticia profesional. ¡Gracias por sumarse desde el inicio!<p>
        </div>
      </div>
      <div class="row">
        <div class="column large-4 mb-45 allies">
            <img src="{% static 'assets/images/allies/morgan.jpg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
            <img src="{% static 'assets/images/allies/tfa.jpg' %}"/>
        </div>
        <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/proed.png' %}">
        </div>

      </div>
    <hr>
  </div>

  <div class="row">
    <header class="section-head">
      <h2 class="section-title" id="educacionales">Aliados Educacionales</h2><!-- /.section-title -->
      <div class="section-image">
          <i class="fa fa-bookmark fa-lg"></i>
      </div><!-- /.section-image -->
    </header>

    <div class="row mb-45">
      <div class="column large-6">
        <p>Enseña por Panamá está agradecido con las entidades educativas que apoyan nuestro proyecto.<p>
      </div>
    </div>
    <div class="row">
      <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/utp.png' %}"/>
      </div>
      <div class="column large-4 mb-45 allies">
          <img src="{% static 'assets/images/allies/senacyt.png' %}"/>
      </div>
      <div class="column large-4 mb-45 allies">
        <img src="{% static 'assets/images/allies/meduca.png' %}"/>
      </div>
      <div class="column large-4 mb-45 allies">
        <img src="{% static 'assets/images/allies/udelas.jpg' %}"/>
      </div>
      <div class="column large-4 mb-45 allies">
        <img src="{% static 'assets/images/allies/uip.jpg' %}"/>
      </div>
      <div class="column large-4 mb-45 allies">
        <img src="{% static 'assets/images/allies/oteima.jpg' %}"/>
      </div>
    </div>
    <hr>
  </div>

  <div class="row">
    <header class="section-head">
        <h2 class="section-title" id="individuales">Aliados Individuales</h2><!-- /.section-title -->

        <div class="section-image">
            <i class="fa fa-bookmark fa-lg"></i>
        </div><!-- /.section-image -->
    </header>

    <div class="row">
      <div class="column large-12">
       <p>Enseña por Panamá está agradecido con las agencias de publicidad, medios y empresas que nos apoyan probono con su expertise profesional. Gracias por sumarse desde el inicio!<p>
      </div>
    </div>
  </div><!-- /.row -->

	</section>
</div>
