<div class="main-body">

  <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="buscamos">¿Cómo lo hacemos?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
                 <br>
            </header>

            <div class="row">
              <img src="{% static 'assets/images/leadership/como_lo_hacemos.jpg' %}">
            </div>
		</div><!-- /.row -->
	</section>


</div>
