<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="buscamos">¿A quién buscamos?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
              <div class="column small-12">
                <p>Seleccionamos a profesionales excepcionales para que participen durante 2 años, a tiempo completo, en un programa de liderazgo. Estos estarán impactando en el ámbito académico y social, dentro y fuera de las aulas, dando clases, inspirando a otros, contribuyendo a mejorar la calidad educativa y desarrollando proyectos sociales innovadores en las comunidades asignadas.</p>
              </div>
            <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider12.jpg' %}">
						</a>
					</div>
            </div>
            <div class="column large-8 mb-45">

	        <div class="post-body">
                <ul class="post-items medium-block-grid-2">
                    <li>
                        <h4>
                            <i class="fa fa-user circle" style="padding-left: 9px!important;"></i> Jovenes Profesionales
                        </h4>
                      Jóvenes profesionales con la voluntad de transformar el país. Graduados universitarios, dispuestos a trabajar remuneradamente durante dos años a tiempo completo en Enseña por Panamá.
                    </li>

                    <li>
                        <h4>
                            <i class="fa fa-lightbulb-o circle" style="padding-left: 10px!important;"></i> Conciencia
                        </h4>
                        <p>Personas con conciencia social, y preferiblemente con experiencia en voluntariado o servicio social.</p>
                    </li>

                    <li class="full-width">
                        <h4>
                            <i class="fa fa-flag circle"></i> Líderes:
                        </h4>
                        <p>Líderes generadores de soluciones innovadores, íntegros y perseverantes.</p>
                </ul>
            </div>
        </div>
      </div>
      <div class="row" style="padding-top:20px;">
        <div class="column 12-small center">
          <img src="{% static 'assets/images/leadership/who.jpg' %}">
        </div>
      </div>
		</div><!-- /.row -->
	</section>

</div>
